@font-face {
    font-family: 'TT Squares';
    src: url('TTSquares-BlackItalic.woff2') format('woff2'),
        url('TTSquares-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Squares';
    src: url('TTSquares-Bold.woff2') format('woff2'),
        url('TTSquares-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Squares';
    src: url('TTSquares-Black.woff2') format('woff2'),
        url('TTSquares-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Squares';
    src: url('TTSquares-ThinItalic.woff2') format('woff2'),
        url('TTSquares-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Squares';
    src: url('TTSquares-Thin.woff2') format('woff2'),
        url('TTSquares-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Squares';
    src: url('TTSquares-Light.woff2') format('woff2'),
        url('TTSquares-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Squares';
    src: url('TTSquares-LightItalic.woff2') format('woff2'),
        url('TTSquares-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Squares';
    src: url('TTSquares-Regular.woff2') format('woff2'),
        url('TTSquares-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Squares';
    src: url('TTSquares-Italic.woff2') format('woff2'),
        url('TTSquares-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Squares';
    src: url('TTSquares-BoldItalic.woff2') format('woff2'),
        url('TTSquares-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

