@import '../inc/vars';

.footer {
    margin-top: clamp(rem(40), vw(80), rem(80));
    position: relative;
    background: #dbd0d4;

    &__contact {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: rem(24);
        padding: clamp(rem(24), vw(40), rem(40)) 0;
        @include tablet-md {
            grid-template-columns: 1fr 1fr;
        }
        @include tablet-sm {
            grid-template-columns: 1fr;
        }
        h3 {
            color: #1f1d1e;
            font-size: clamp(rem(16), vw(18), rem(18));
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: rem(16);
        }

        @include tablet-md {
            align-items: center;
        }
        ul {
            list-style: none;
            margin: 0;
        }
        li {
            margin-bottom: rem(4);
        }
        a {
            color: #1f1d1e;
            font-weight: 400;
            transition: all 0.3s;
            font-size: clamp(rem(16), vw(18), rem(18));
            &:hover {
                opacity: 0.6;
            }
        }

        &-soc {
            display: flex;
            gap: rem(16);
            img {
                width: rem(40);
                height: rem(40);
                @include tablet-sm {
                    width: rem(32);
                    height: rem(32);
                }
                transition: all 0.3s ease 0s;
                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }

    .copyright {
        font-weight: 400;
        transition: all 0.3s;
        font-size: clamp(rem(16), vw(18), rem(18));
        padding: rem(16) 0;
        border-top: 1px solid;
        border-color: #1f1d1e80;
        text-align: center;

        a {
            color: rgb(66, 66, 66);
            transition: all 0.3s;
            &:hover {
                opacity: 0.7;
            }
        }
        @include tablet-md {
            text-align: center;
        }
    }
}

.contactus-block {
    position: fixed;
    right: rem(20);
    bottom: rem(20);
    z-index: 15;
    &__icon svg {
        width: rem(60);
        height: rem(60);
				cursor: pointer;
        @include tablet-sm {
            width: rem(30);
            height: rem(30);
        }
    }
    &__list {
        bottom: rem(60);
        position: absolute;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: rem(6);
        width: rem(60);
        overflow: hidden;
        height: 0;
        right: 0;
        background: #dbd0d4;
				transition: all 0.3s ease 0s;

        &.active {
            height: fit-content;
            padding: rem(16) 0;
        }
    }

    img {
        width: rem(45);
        height: rem(45);
        transition: all 0.3s ease 0s;
    }
}

