@import '../inc/vars';

body {
    position: relative;
    &.fixed {
        overflow: hidden;
    }

    &.is-active {
        header {
            @include tablet-md {
                overflow: visible;
            }
        }
    }
}

.header {
    z-index: 10;
    left: 0;
    width: 100%;
    top: 0;
    transition: all 0.3s ease-in-out;
    padding: rem(10) 0;
    position: relative;
    box-sizing: border-box;
    background: white;
    border-bottom: 1px solid #dbd0d4;
    @include tablet-md {
        margin-bottom: rem(0);
        position: sticky;
    }
    &.sticky {
        position: sticky;
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: rem(15);
        @include tablet-sm {
            flex-wrap: wrap;
        }
    }

    .primary {
        .category {
            display: none;
            @include tablet-md {
                display: block;
            }
        }
        @include tablet-md {
            gap: rem(16);
						overflow: auto;
        }
    }

    .logo {
        position: relative;
        z-index: 12;
        margin-right: rem(15);
        transition: all 0.3s ease 0s;
        img {
            max-width: rem(160);
            @include tablet-md {
                max-width: rem(140);
                margin-right: rem(0);
            }
        }
        @include tablet-sm {
            order: 2;
        }
    }
    &__list-box {
        display: flex;
        flex-direction: column;
        gap: rem(8);

        .tel-box {
            display: flex;
            flex-direction: column;
            gap: rem(3);
            margin-left: rem(30);
            @include tablet-sm {
                flex-direction: row;
                justify-content: space-between;
                margin-left: rem(0);
            }
        }
        .tel a {
            font-size: clamp(rem(16), vw(18), rem(18));
            font-weight: 400;
            text-align: left;
            color: #1f1d1e;
        }
        .woocommerce-product-search {
            display: flex;
            align-items: center;
            gap: rem(6);
            input {
                min-width: rem(270);
                padding: rem(8) clamp(rem(12), vw(16), rem(16));
                border: 1px solid #dbd0d4;
                @include tablet-sm {
                    width: 100%;
                }
            }

            button {
                border: none;
            }
        }

        @include tablet-sm {
            order: 1;
            width: 100%;
        }
    }

    nav {
        display: flex;
        gap: rem(24);
        align-items: center;
        ul {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: rem(20);
            margin-bottom: 0;
            margin-left: 0;

            li {
                display: inline-block;
                position: relative;
                line-height: 1em;
                z-index: 2;

                &.menu-item-has-children {
                    display: flex;
                    gap: rem(4);
                    align-items: center;
                    i {
                        height: fit-content;
                        transition: all 0.3s;
                    }
                    &:hover {
                        i {
                            transform: rotate(180deg);
                        }
                    }
                }
                a {
                    display: inline-block;
                    font-size: clamp(rem(14), vw(24), rem(24));
                    line-height: 1.35;
                    transition: all 0.3s;
                    font-weight: 400;
                    padding: rem(3);
                    position: relative;
                    text-transform: uppercase;
                    color: #1f1d1e;

                    &:hover {
                        opacity: 0.7;
                    }
                }

                ul {
                    flex-direction: column;
                    gap: 0;
                    align-items: flex-start;
                    position: absolute;
                    z-index: 1;
                    width: rem(240);
                    visibility: hidden;
                    opacity: 0;
                    top: 100%;
                    left: 0;
                    padding-top: rem(12);

                    li {
                        display: block;
                        color: $white;
                        display: block;
                        margin-bottom: 0;
                        padding: rem(2) rem(8);
                        text-align: left;
                        text-transform: uppercase;
                        width: 100%;
                        &::after {
                            display: none;
                        }

                        a {
                            color: $white;
                        }
                    }

                    .menu-item-has-children {
                        position: relative;
                        // Sub menu
                        ul {
                            display: none;
                        }

                        &:hover {
                            > ul {
                                display: block;
                                top: 0;
                                right: 0;
                                bottom: auto;
                                transform: translateX(100%);
                                position: absolute;
                                width: 100%;
                                padding-top: 0;
                                padding-bottom: 0;
                            }
                        }
                        .icon {
                            transform: translateY(-50%) rotate(-90deg);
                        }
                    }
                }

                &:hover {
                    ul {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }
    &__bottom {
        padding-top: rem(16);
        display: flex;
        justify-content: center;
        nav {
            ul {
                li {
                    a {
                        font-size: clamp(rem(14), vw(18), rem(18));
                    }
                }
            }
        }
        @include tablet-md {
            display: none;
        }
    }
    .menu-toggle {
        visibility: visible;
        opacity: 1;
        position: relative;
        width: rem(30);
        height: rem(20);
        display: none;
        z-index: 99;
        cursor: pointer;
        @include tablet-sm {
            order: 2;
        }
        &.is-active {
            small {
                transform: scale(0);
            }

            &::before {
                transform: rotate(45deg);
                top: rem(9);
            }

            &::after {
                transform: rotate(-45deg);
                bottom: rem(9);
                width: 100%;
            }
        }

        small {
            margin-left: rem(15);
            position: absolute;
            background: black;
            right: 0;
            top: rem(9);
            width: 100%;
            height: 2px;
            transition: all 0.1s;
        }

        &::before,
        &::after {
            content: '';
            background: black;
            position: absolute;
            width: 100%;
            height: rem(2);
            right: 0;
            transition: all 0.3s;
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
            width: 100%;
        }
    }

    @include tablet-md {
        nav {
            display: none;
            position: absolute;
            background: #dbd0d4;
            right: -100%;
            top: rem(144);
            height: fit-content;
            z-index: 9;
            padding: rem(24);
            overflow: auto;
            transition: 0.3s ease-in-out;
            width: max-content;
            .btn {
                margin-top: rem(30);
            }

            ul {
                flex-direction: column;
                align-items: flex-start;
                gap: rem(16);
                li {
                    transition: all 0.3s;
                    flex-wrap: wrap;
                    padding: 0;
                    &:hover {
                        .sub-menu {
                            height: auto;
                            margin-top: rem(8);
                        }
                    }
                    a {
                        padding: 0;
                    }
                    i {
                        padding: rem(2) rem(4);
                    }
                    .sub-menu {
                        position: relative;
                        height: 0;
                        padding: 0;
                        width: 100%;
                    }
                }
            }

            &.is-active {
                display: inline-grid;
                right: 0;
            }
        }

        .menu-toggle {
            display: block;
            @include tablet-sm {
                margin-left: auto;
            }
        }
    }
}

