@font-face {
  font-family: "ETmodules"; 
  src: url("../fonts/ETmodules/etmodules.eot"); 
  src: url("../fonts/ETmodules/etmodules.eot") format("embedded-opentype"), 
  url("../fonts/ETmodules/etmodules.woff2") format("woff2"), 
  url("../fonts/ETmodules/etmodules.woff") format("woff"), 
  url("../fonts/ETmodules/etmodules.svg") format("svg"); }
